mixin footer()
    - var mail = project.settings[0];
    if mail.template === 'kf' || mail.template === 'kfpi'
        tr
            td.footer
                table(cellpadding='0', cellspacing='0', align='center', border='0' style='width: 100%;')
                    tr
                        td(style='vertical-align: top; padding-top: 30px;')
                            table(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:100%')
                                tr
                                    td.two-columns
                                        if mail.template === 'kf'
                                            <!--[if (gte mso 9)|(IE)]><table cellpadding='0', cellspacing='0', border='0' width='552'><tr><td valign='top' width='552' style='width: 552px;'><![endif]-->
                                            .column
                                                table(cellpadding='0', cellspacing='0', border='0' width='100%' style='border-collapse:collapse;')
                                                    tr
                                                        //- Если Int Sales - Digest
                                                        td.nav(style='padding-bottom:20px;text-align:center;vertical-align:top;')
                                                            <!--[if (gte mso 9)|(IE)]><table cellpadding='0', cellspacing='0', border='0', align='center', width='552'><tr><td valign='top' width='147' style='width: 147px;'><![endif]-->
                                                            a(href="https://kf.expert/gorod/" target="_blank" style="color:#a5a5a5 !important;display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;padding:5px 10px;text-align:left;text-decoration:none;vertical-align:top;")
                                                                span(style="color:#a5a5a5") Жилая в&nbsp;Москве
                                                            <!--[if (gte mso 9)|(IE)]></td><td valign='top' width='111' style='width: 111px;'><![endif]-->
                                                            a(href="https://kf.expert/gorod/" target="_blank" style="color:#a5a5a5 !important;display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;padding:5px 10px;text-align:left;text-decoration:none;vertical-align:top;")
                                                                span(style="color:#a5a5a5") Загородная
                                                            <!--[if (gte mso 9)|(IE)]></td><td valign='top' width='114' style='width: 114px;'><![endif]-->

                                                            a(href="https://kf.expert/gorod/" target="_blank" style="color:#a5a5a5 !important;display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;padding:5px 10px;text-align:left;text-decoration:none;vertical-align:top;")
                                                                span(style="color:#a5a5a5") Зарубежная
                                                            <!--[if (gte mso 9)|(IE)]></td><td valign='top' width='180' style='width: 180px;'><![endif]-->
                                                            a(href="https://kf.expert/gorod/" target="_blank" style="color:#a5a5a5 !important;display:inline-block;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:20px;padding:5px 10px;text-align:left;text-decoration:none;vertical-align:top;")
                                                                span(style="color:#a5a5a5") Другие направления
                                                            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                            <!--[if (gte mso 9)|(IE)]></td></tr><tr><td valign='top' width='552' style='width: 552px;'><![endif]-->
                                            .column(style="margin:0;display:inline-block;font-size:14px;max-width:552px;text-align:left;vertical-align:top;width:100%;")
                                                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-collapse:collapse;')
                                                    tr
                                                        td.three-columns
                                                            <!--[if (gte mso 9)|(IE)]><table width="552" align="center" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="204" style="width:204px;"><![endif]-->
                                                            .column(style="margin:0;display:inline-block;font-size:14px;max-width:204px;text-align:left;vertical-align:top;width:100%;")
                                                                table(cellpadding='0', cellspacing='0', border='0', align='center', width='100%', style='border-collapse:collapse;')
                                                                    tr
                                                                        td(style='padding-bottom:3px;padding-top:3px;vertical-align:top;')
                                                                            <!--[if (gte mso 9)|(IE)]><table width="140" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="140" style="width:140px;"><![endif]-->
                                                                            table.table-btn-2(
                                                                            border="0",
                                                                            cellpadding="0",
                                                                            cellspacing="0",
                                                                            width='100%'
                                                                            )
                                                                                tr
                                                                                    td(height='28' style='border:1px solid #ea1f4a; border-radius:3px; height:auto; text-align:center; vertical-align:middle;')
                                                                                        a.btn(
                                                                                        href='https://kf.expert/contacts?form_view=callme%20-%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BF%D0%BE%D0%B7%D0%B2%D0%BE%D0%BD%D0%B8%D1%82%D1%8C%20%D0%BC%D0%BD%D0%B5',
                                                                                        target='_blank',
                                                                                        )
                                                                                            span Перезвоните мне
                                                                            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->


                                                            <!--[if (gte mso 9)|(IE)]></td><td valign="top" width="244" style="width:244px;"><![endif]-->
                                                            .column(style="margin:0;display:inline-block;font-size:14px;max-width:244px;text-align:left;vertical-align:top;width:100%;")
                                                                table(cellpadding='0', cellspacing='0', border='0', align='center', width='100%', style="border-collapse:collapse;")
                                                                    tr
                                                                        td(style='-webkit-font-smoothing:subpixel-antialiased;color:#646464;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:24px;padding-bottom:8px;padding-top:8px;text-align:left;vertical-align:top;')
                                                                            a(href='"tel:+74951045883', style="color:#a5a5a5 !important;text-decoration:none;white-space:nowrap;")
                                                                                span(style="color:#a5a5a5") +7 (495) 104-58-83

                                                            <!--[if (gte mso 9)|(IE)]></td><td valign="top" width="104" style="width:104px;"><![endif]-->
                                                            .column(style="margin:0;display:inline-block;font-size:14px;max-width:104px;text-align:left;vertical-align:top;width:100%;")
                                                                table(cellpadding='0', cellspacing='0', border='0', align='center', width='100%', style="border-collapse:collapse;")
                                                                    tr
                                                                        td(style='padding-bottom:3px;padding-top:3px;vertical-align:top;')
                                                                            table.social(cellspacing='0', border='0', cellpadding="5", style="border-collapse:collapse;")
                                                                                tr
                                                                                    td(style="vertical-align:middle;")
                                                                                        a(href='https://www.facebook.com/KnightFrankMoscow' target='_blank' style='color: #a5a5a5 !important; text-decoration: none;')
                                                                                            img(src="https://gallery.mailchimp.com/73ba57b18980bf0adbe74a91c/images/56d14b5e-71f2-4ce7-9414-605a677e99d7.png", width='19', height='19' alt="fb" style='-ms-interpolation-mode:bicubic;border:0;color:#a5a5a5;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:20px;text-align:left')
                                                                                    td(style="vertical-align:middle;")
                                                                                        a(href='https://www.instagram.com/kf.expert/?hl=ru' target='_blank' style='color: #a5a5a5 !important; text-decoration: none;')
                                                                                            img(src="https://gallery.mailchimp.com/73ba57b18980bf0adbe74a91c/images/bfb3df04-982d-4420-b120-51b690fa308a.png", width='19', height='19' alt="In" style='-ms-interpolation-mode:bicubic;border:0;color:#a5a5a5;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:20px;text-align:left')
                                                                                    td(style="vertical-align:middle;")
                                                                                        a(href='https://telegram.me/KnightFrankBot' target='_blank' style='color: #a5a5a5 !important; text-decoration: none;')
                                                                                            img(src="https://gallery.mailchimp.com/73ba57b18980bf0adbe74a91c/images/1a94c3f6-1714-44bc-9480-f6f87ccfd089.png", width='19', height='19' alt="Tl" style='-ms-interpolation-mode:bicubic;border:0;color:#a5a5a5;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:20px;text-align:left')

                                                            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                        else
                                            <!--[if (gte mso 9)|(IE)]></td></tr><tr><td valign='top' width='552' style='width: 552px;'><![endif]-->
                                            .column(style="margin:0;display:inline-block;font-size:14px;max-width:552px;text-align:left;vertical-align:top;width:100%;")
                                                table(width='100%' cellpadding='0' cellspacing='0' border='0' style='border-collapse:collapse;')
                                                    tr
                                                        td.three-columns
                                                            <!--[if (gte mso 9)|(IE)]><table width="552" align="center" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="204" style="width:204px;"><![endif]-->
                                                            .column(style="margin:0;display:inline-block;font-size:14px;max-width:204px;text-align:left;vertical-align:top;width:100%;")
                                                                table(cellpadding='0', cellspacing='0', border='0', align='center', width='100%', style='border-collapse:collapse;')
                                                                    tr
                                                                        td(style='padding-bottom:3px;padding-top:3px;vertical-align:top;')
                                                                            <!--[if (gte mso 9)|(IE)]><table width="140" border="0" cellpadding="0" cellspacing="0"><tr><td valign="top" width="140" style="width:140px;"><![endif]-->
                                                                            table.table-btn-2(
                                                                            border="0",
                                                                            cellpadding="0",
                                                                            cellspacing="0",
                                                                            width='100%'
                                                                            )
                                                                                tr
                                                                                    td(height='28')
                                                                                        a.btn(
                                                                                        href='https://kf.expert/contacts?form_view=callme%20-%20%D1%84%D0%BE%D1%80%D0%BC%D0%B0%20%D0%BF%D0%BE%D0%B7%D0%B2%D0%BE%D0%BD%D0%B8%D1%82%D1%8C%20%D0%BC%D0%BD%D0%B5',
                                                                                        target='_blank',
                                                                                        )
                                                                                            span Перезвоните мне
                                                                            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->


                                                            <!--[if (gte mso 9)|(IE)]></td><td valign="top" width="244" style="width:244px;"><![endif]-->
                                                            .column(style="margin:0;display:inline-block;font-size:14px;max-width:244px;text-align:left;vertical-align:top;width:100%;")
                                                                table(cellpadding='0', cellspacing='0', border='0', align='center', width='100%', style="border-collapse:collapse;")
                                                                    tr
                                                                        td(style='-webkit-font-smoothing:subpixel-antialiased;color:#646464;font-family:Arial, Helvetica, sans-serif;font-size:16px;line-height:24px;padding-bottom:8px;padding-top:8px;text-align:left;vertical-align:top;')
                                                                            a(href='"tel:+74951045883', style="color:#a5a5a5 !important;text-decoration:none;white-space:nowrap;")
                                                                                span(style="color:#a5a5a5") +7 (495) 104-58-83

                                                            <!--[if (gte mso 9)|(IE)]></td><td valign="top" width="104" style="width:104px;"><![endif]-->
                                                            .column(style="margin:0;display:inline-block;font-size:14px;max-width:104px;text-align:left;vertical-align:top;width:100%;")
                                                                table(cellpadding='0', cellspacing='0', border='0', align='center', width='100%', style="border-collapse:collapse;")
                                                                    tr
                                                                        td(style='padding-bottom:3px;padding-top:3px;vertical-align:top;')
                                                                            table.social(cellspacing='0', border='0', cellpadding="5", style="border-collapse:collapse;")
                                                                                tr
                                                                                    td(style="vertical-align:middle;")
                                                                                        a(href='https://www.facebook.com/KnightFrankMoscow' target='_blank' style='color: #a5a5a5 !important; text-decoration: none;')
                                                                                            img(src="https://gallery.mailchimp.com/73ba57b18980bf0adbe74a91c/images/56d14b5e-71f2-4ce7-9414-605a677e99d7.png", width='19', height='19' alt="fb" style='-ms-interpolation-mode:bicubic;border:0;color:#a5a5a5;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:20px;text-align:left')
                                                                                    td(style="vertical-align:middle;")
                                                                                        a(href='https://www.instagram.com/kf.expert/?hl=ru' target='_blank' style='color: #a5a5a5 !important; text-decoration: none;')
                                                                                            img(src="https://gallery.mailchimp.com/73ba57b18980bf0adbe74a91c/images/bfb3df04-982d-4420-b120-51b690fa308a.png", width='19', height='19' alt="In" style='-ms-interpolation-mode:bicubic;border:0;color:#a5a5a5;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:20px;text-align:left')
                                                                                    td(style="vertical-align:middle;")
                                                                                        a(href='https://telegram.me/KnightFrankBot' target='_blank' style='color: #a5a5a5 !important; text-decoration: none;')
                                                                                            img(src="https://gallery.mailchimp.com/73ba57b18980bf0adbe74a91c/images/1a94c3f6-1714-44bc-9480-f6f87ccfd089.png", width='19', height='19' alt="Tl" style='-ms-interpolation-mode:bicubic;border:0;color:#a5a5a5;font-family:Arial,Helvetica,sans-serif;font-size:11px;line-height:20px;text-align:left')

                                                            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                            <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                                tr
                                    td.credits.u-ph
                                        | Вы получили это письмо, так как являетесь клиентом компании Knight Frank. Если вы не хотите получать рассылку — отпишитесь, пройдя по&nbsp;
                                        a(href="https://expert.us13.list-manage.com/unsubscribe?u=73ba57b18980bf0adbe74a91c&id=f20bc919bd&e=[UNIQID]&c=476827f00a" target='_blank')
                                            span ссылке


    else
        +error('footer')