mixin month()
    tr
        td.t-h1.u-ph-lg(style="color:#fff;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-size:38px;font-weight:300;line-height:38px;text-align:left;", mc:edit='heading')
            table(cellpadding='0', cellspacing='0', border='0', height='113', width='100%')
                tbody
                    tr
                        td(background=month.url, bgcolor=month.color, valign='top', style='background-size: 600px;')
                            <!--[if (gte mso 9)|(IE)]>
                                v:rect(xmlns:v='urn:schemas-microsoft-com:vml', fill='frame', stroke='false', style='width:600px;height:130px;padding:0px; margin:0px; display:block;')
                                    v:fill(type='frame', src=month.url, color=month.color)
                                        v:textbox(inset='0, 0, 0, 0', style='v-text-anchor:middle;')
                            <![endif]-->
                            table(cellspacing='0', cellpadding='0', border='0', style='width:100%')
                                tbody
                                    tr
                                        td(style="width:100%; padding-left: 24px; padding-top: 36px;color:#fff;font-family:'Open Sans', Arial, Helvetica, sans-serif;font-size:38px;font-weight:300;line-height:38px;text-align:left;", mc:edit='heading')= month.name
                            <!--[if (gte mso 9)|(IE)]>
                                p(style='margin:0;mso-hide:all')
                                    o:p(xmlns:o='urn:schemas-microsoft-com:office:office')  
                            <![endif]-->